img {
    width: 100%;
    height: auto;
}
#grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 10px;
}
header {
    grid-column-start: 1;
    grid-column-end: 3;
}
#Oleksii {
    grid-column: 3/5;
    grid-row: 1/3;
}
#shooes {
    grid-area: 4/1/6/3;
}
h1 {
    font-family: 'Monserrat', 'Arial', sans-serif;
    font-size: 3rem; 
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.2;
}
#abcdefg {
 color: rgb(255, 255, 255);
background-color: rgb(11, 71, 11);
font-size: 35px;
font-weight: bold;
padding: 45px;
box-sizing: border-box;
line-height: 50px;
}
 